BETTER_AUTH_SECRET=superstrongsecretkeyhere
BETTER_AUTH_URL=http://localhost:3000
CORS_ORIGIN=http://localhost:3001

# Production only
D1_DB_URL=https://api.cloudflare.com/client/v4/accounts/<ACCOUNT_ID>/d1/database/<DATABASE_ID>
D1_DB_TOKEN=<YOUR_API_TOKEN>
