BETTER_AUTH_SECRET=superstrongsecretkeyhere
BETTER_AUTH_URL=http://localhost:3000
CORS_ORIGIN=http://localhost:3001
RESEND_API_KEY=re_123456789
CONTACT_EMAIL_TO=admin@example.com

# Production only
CLOUDFLARE_ACCOUNT_ID=<account ID>
CLOUDFLARE_D1_DATABASE_ID=<d1 database ID>
SEED_API_TOKEN=<token>
